<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ profile_owner.username }}님의 페이지</title>
</head>
<body>
    <h1>{{ profile_owner.username }}님의 마이 페이지</h1>

    <h2>작성한 글 목록</h2>
    {% for post in posts %}
        <div>
            <a href="{% url 'post:detail' post.id %}">{{post.title}}</a>
        </div>          
    {% endfor %}

    <h2>방명록</h2>
    {% for visit in visits %}
        <div>
            <p><strong>{{ visit.writer.username }}</strong> ({{ visit.created_at|date:"Y-m-d H:i" }})</p>
            <p>{{ visit.content }}</p>
        </div>
    {% endfor %}

    <h3>방명록 남기기</h3>
    <form method="POST">
        {% csrf_token %}
        {{ visit_form.as_p }}
        <button type="submit">완료!</button>
    </form>
</body>
</html>
