<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
</head>
<body>
    {% if not posts %}
        <h1>검색 결과가 없습니다.</h1>
    {% else %}
        <h1>검색 결과</h1>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>좋아요</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.like_count }}개</td>
                    <td>{{ post.views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
